"*":
  autosave:
    enabled: true
  core:
    telemetryConsent: "limited"
  editor:
    scrollPastEnd: true
    showInvisibles: true
  "exception-reporting":
    userId: "94a3e1b8-2052-4671-a4fd-697bef72291a"
".html.php.text":
  editor:
    tabLength: 4
